<div class="container">
  <h2>Users</h2>
  <% @users.each do |user| %>
    <%= link_to user_path(user) do %>
      <div class="user-list">
        <img src="<%= user.photo %>" alt="user photo">
        <div class="description">
          <p><%= user.name %></p>
          <p>Number of posts: <%= user.posts.count %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
