
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #002e28;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.heading {
    width: 100%;
    background-color: #fff;
    color: #013c32;
    text-align: center;
}

.user-list,
.user-photo,
.username-holder ,
.comment-head {
    width: auto;
    display: flex;
    gap: 10px;

}

img {
    width: 200px;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
}

.description :hover {
    color: rgb(255, 150, 46);
    transition: 0.2s ease-in-out;
}

.user-detail,
.posts-container {
    padding: 20px;
}

.one-post {
    border: 1px solid white;
    margin: 10px 0 10px 0;
    padding: 10px;
    width: 50%;
}

.one-post:hover h2 {
    color: #d4d4ff;
    transition: 0.1s ease-in;
}

.bio  {
    font-style: italic;
    border: 1px solid gray;
    width: 50%;
    padding: 2rem;
    margin-top: 10px;
}

.button {
    background-color: white;
    color: #323253;
    padding: 5px 10px;
    border-radius: 5px;
}

.button:hover {
    background-color: #a0a0e9;
    transition: 0.16s ease;
}

.username-holder {
    margin-top: 20px;
    margin-bottom: 10px;
}

hr {
    width: 50%;
}

.one-comment {
    border: 1px solid white;
    margin: 10px 0 10px 0;
    padding: 10px;
    width: 50%;
}

.one-comment:hover h2 {
    color: #d4d4ff;
    font-size: 26px;
    transition: 0.1s ease-in;
}

.comments-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-wrapper, 
.comments {
    border: 2px solid gray;
    padding: 1rem;
    width: 30%;
    height: 70%;
}

.comments-likes {
    margin-top: 10px;
    float: right;
}